<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="head_fragments/head_customers :: head"></div>

    <body>
        <div th:replace="fragments/header :: header"></div>

        <main role="main" class="container">
            <div class="container">
                <h1 th:text=" ${saveOrUpdate} + ' ' +  ${titleCRUD}"></h1>
        
                <div class="container">

                    <form action="#" th:action="@{/{updateFormLink}(updateFormLink=${updateFormLink})}" th:object="${inventoryLocations}" method="POST">
                        <!-- <div class="form-group">
                            <label for="exampleInputPassword1">Product ID</label>
                            <input type="text" th:field="*{productId}" class="form-control" rows="5"></input>
                        </div> -->

                        <div class="form-group">
                            <label for="exampleInputPassword1">Product ID</label>
                            <!-- th:field="*{paymentMethodCode}" -->
                            <select class="form-control" id="dropOperator" name="productId">
                                <option value="0">Select Product ID</option>
                                <option th:each="listProduct : ${listProduct}" 
                                    th:value="${listProduct.productId}" 
                                    th:text="${listProduct.productId + ' - ' + listProduct.productName}" 
                                    th:selected="(${listProduct.productId} == ${product_id})" >
                                </option>
                            </select>
                        </div>

                        <!-- <div class="form-group">
                            <label for="exampleInputPassword1">Location Address ID</label>
                            <input type="text" th:field="*{locationAddressId}" class="form-control" rows="5"></input>
                        </div> -->

                        <div class="form-group">
                            <label for="exampleInputPassword1">Location Address ID</label>
                            <!-- th:field="*{paymentMethodCode}" -->
                            <select class="form-control" id="dropOperator" name="locationAddressId">
                                <option value="0">Select Location Address ID</option>
                                <option th:each="listAddresses : ${listAddresses}" 
                                    th:value="${listAddresses.addressId}" 
                                    th:text="${listAddresses.addressId + ' - ' + listAddresses.line1}" 
                                    th:selected="(${listAddresses.addressId} == ${address_id})" >
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Quantity in Stock</label>
                            <input type="text" th:field="*{quantityInStock}" class="form-control" rows="5"></input>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Reorder Level</label>
                            <input type="text" th:field="*{reorderLevel}" class="form-control" rows="5"></input>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Reorder Quantity</label>
                            <input type="text" th:field="*{reorderQuantity}" class="form-control" rows="5"></input>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Total Average Monthly Usage</label>
                            <input type="text" th:field="*{totalAverageMonthlyUsage}" class="form-control" rows="5"></input>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Other Inventory Details</label>
                            <input type="text" th:field="*{otherInventoryDetails}" class="form-control" rows="5"></input>
                        </div>

                        <div th:if="${message}">
                            <div class="alert alert-danger" th:text="${message}"></div>
                        </div>

                        <button th:text=" ${saveOrUpdate} + ' ' + ${titleCRUD}" type="submit" class="btn btn-info"></button>
                        <a th:href="@{/{link}(link=${listLink})}" th:text="'  Back to ' + ${titleCRUD} + ' List'" type="button" class="btn btn-info"></a>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>