<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="head_fragments/head_customers :: head"></div>

    <body>
        <div th:replace="fragments/header :: header"></div>

        <main role="main" class="container">
            <div class="container">
                <h1>Add New Customer</h1>
        
                <div class="container">

                    <form action="#" th:action="@{/saveCustomer}" th:object="${customer}" method="POST">
                        <!-- <div class="form-group">
                            <label for="exampleInputPassword1">Payment method code</label>
                            <input type="text" th:field="*{paymentMethodCode}" class="form-control">
                        </div> -->

                        <div class="form-group">
                            <label for="exampleInputPassword1">Payment method code</label>
                            <select class="form-control" id="dropOperator" th:field="*{paymentMethodCode}">
                                <option value="0">Select Payment Method</option>
                                <option th:each="listPaymentMethod : ${listPaymentMethod}" th:value="${listPaymentMethod.paymentMethodCode}" th:text="${listPaymentMethod.paymentMethodCode + ' - ' + listPaymentMethod.paymentMethodDescription}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Customer Name</label>
                            <input type="text" th:field="*{customerName}" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Customer Phone</label>
                            <input type="text" th:field="*{customerPhone}" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Customer Email</label>
                            <input type="text" th:field="*{customerEmail}" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Date Become Customer</label>
                            <input type="date" th:field="*{dateBecomeCustomer}" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Payment Details</label>
                            <input type="text" th:field="*{paymentDetails}" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Other Customer Details</label>
                            <input type="text" th:field="*{otherCustomerDetails}" class="form-control">
                        </div>

                        <div th:if="${message}">
                            <div class="alert alert-danger" th:text="${message}"></div>
                        </div>

                        <button type="submit" class="btn btn-info"> Save Employee</button>
                        <a th:href="@{/}" type="button" class="btn btn-info"> Back to Customer List</a>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>