<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="head_fragments/head_customers :: head"></div>

    <body>
        <div th:replace="fragments/header :: header"></div>

        <main role="main" class="container">
            <div class="container">
                <h1 th:text="'Update ' +  ${titleCRUD}"></h1>
        
                <div class="container">

                    <form action="#" th:action="@{/{updateFormLink}(updateFormLink=${updateFormLink})}" th:object="${customerAddressesDto}" method="POST">
                        <!-- <div class="form-group">
                            <label for="exampleInputPassword1">Customer ID</label>
                            <input type="text" th:field="*{customerId}" class="form-control">
                        </div> -->

                        <div class="form-group">
                            <label for="exampleInputPassword1">Customer ID</label>
                            <!-- th:field="*{paymentMethodCode}" -->
                            <select class="form-control" id="dropOperator" name="customerId">
                                <option value="0">Select Payment Method</option>
                                <option th:each="listCustomers : ${listCustomers}" 
                                    th:value="${listCustomers.customerId}" 
                                    th:text="${listCustomers.customerId + ' - ' + listCustomers.customerName}" 
                                    th:selected="(${listCustomers.customerId} == ${customer_id})" >
                                </option>
                            </select>
                        </div>

                        <!-- <div class="form-group">
                            <label for="exampleInputPassword1">Address ID</label>
                            <input type="text" th:field="*{addressId}" class="form-control" rows="5"></input>
                        </div> -->

                        <div class="form-group">
                            <label for="exampleInputPassword1">Address ID</label>
                            <!-- th:field="*{paymentMethodCode}" -->
                            <select class="form-control" id="dropOperator" name="addressId">
                                <option value="0">Select Payment Method</option>
                                <option th:each="listAddress : ${listAddress}" 
                                    th:value="${listAddress.addressId}" 
                                    th:text="${listAddress.addressId + ' - ' + listAddress.line1}" 
                                    th:selected="(${listAddress.addressId} == ${address_id})" >
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Address Type Code</label>
                            <input type="text" th:field="*{addressTypeCode}" class="form-control" rows="5"></input>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Date From</label>
                            <input type="date" th:field="*{dateFrom}" class="form-control" rows="5"></input>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Date to</label>
                            <input type="date" th:field="*{dateTo}" class="form-control" rows="5"></input>
                        </div>

                        <div th:if="${message}">
                            <div class="alert alert-danger" th:text="${message}"></div>
                        </div>

                        <button th:text="'Update ' + ${titleCRUD}" type="submit" class="btn btn-info"></button>
                        <a th:href="@{/{link}(link=${listLink})}" th:text="'  Back to ' + ${titleCRUD} + ' List'" type="button" class="btn btn-info"></a>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>