<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="head_fragments/head_customers :: head"></div>

    <body>
        <div th:replace="fragments/header :: header"></div>

        <main role="main" class="container">
            <div class="container">
                <h1 th:text=" ${saveOrUpdate} + ' ' +  ${titleCRUD}"></h1>
        
                <div class="container">

                    <form action="#" th:action="@{/{updateFormLink}(updateFormLink=${updateFormLink})}" th:object="${productsDto}" method="POST">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Product Type Code</label>
                            <!-- th:field="*{paymentMethodCode}" -->
                            <select class="form-control" id="dropOperator" name="paymentMethodCode">
                                <option value="0">Select Payment Method</option>
                                <option th:each="listProductTypes : ${listProductTypes}" 
                                    th:value="${listProductTypes.productTypeCode}" 
                                    th:text="${listProductTypes.productTypeCode + ' - ' + listProductTypes.productTypeDescription}" 
                                    th:selected="(${listProductTypes.productTypeCode} == ${product_types_code})" >
                                </option>
                            </select>
                        </div>
                        
                        <!-- <div class="form-group">
                            <label for="exampleInputPassword1">Product Type Code</label>
                            <input type="text" th:field="*{productTypeCode}" class="form-control" rows="5"></input>
                        </div> -->

                        <div class="form-group">
                            <label for="exampleInputPassword1">Product Details</label>
                            <input type="text" th:field="*{productDetails}" class="form-control" rows="5"></input>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Product Name</label>
                            <input type="text" th:field="*{productName}" class="form-control" rows="5"></input>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Product Price</label>
                            <input type="text" th:field="*{productPrice}" class="form-control" rows="5"></input>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Product Description</label>
                            <input type="text" th:field="*{productDescription}" class="form-control" rows="5"></input>
                        </div>

                        <div th:if="${message}">
                            <div class="alert alert-danger" th:text="${message}"></div>
                        </div>

                        <button th:text=" ${saveOrUpdate} + ' ' + ${titleCRUD}" type="submit" class="btn btn-info"></button>
                        <a th:href="@{/{link}(link=${listLink})}" th:text="'  Back to ' + ${titleCRUD} + ' List'" type="button" class="btn btn-info"></a>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>