<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="head_fragments/head_customers :: head"></div>

    <body>
        <div th:replace="fragments/header :: header"></div>

        <main role="main" class="container">
            <div class="container my-2">
                <h1>Payment Method List</h1>
        
                <a th:href="@{/payment-method/save-payment-method-form}" class="btn btn-primary btn-sm mb-3"> Add Payment Method </a>
        
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>Payment Method Id</th>
                            <th>Payment Method Code</th>
                            <th> Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="paymentMethod : ${listPaymentMethod}">
                            <td th:text="${paymentMethod.paymentMethodId}"></td>
                            <td th:text="${paymentMethod.paymentMethodCode}"></td>
                            <td> <a th:href="@{/payment-method/update-payment-method-form/{id}(id=${paymentMethod.paymentMethodId})}" class="btn btn-primary">Update</a>
                                <a th:href="@{/payment-method/deletePaymentMethod/{id}(id=${paymentMethod.paymentMethodId})}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                        <tr th:if="${#lists.isEmpty(listPaymentMethod)}">
                            <td class="text-center" colspan="4">Data is Empty</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </body>

</html>