<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Simple POS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Addresses
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/addresses/list">Address List</a>
                  <a class="dropdown-item" href="/customer-addresses/list">Customer Address</a>
                  <a class="dropdown-item" href="/address-type/list">Address Types</a>
                  <a class="dropdown-item" href="/supplier-location/list">Supplier Location</a>
                  <a class="dropdown-item" href="/inventory-locations/list">Inventory Location</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Customer
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/">Customers</a>
                  <a class="dropdown-item" href="/shopping-basket/list">Shopping Basket</a>
                  <a class="dropdown-item" href="/basket-items/list">Basket Items</a>
                  <a class="dropdown-item" href="/payment-method/list">Payment Methods</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Suppliers
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/supplier/list">Suppliers</a>
                  <a class="dropdown-item" href="/product-supplier/list">Product Suppliers</a>
                  <a class="dropdown-item" href="/product/list">Products</a>
                  <a class="dropdown-item" href="/product-types/list">Product Types</a>
                </div>
            </li>
          </ul>
          <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                <i class="fas fa-user"></i>&nbsp;&nbsp;
                <div th:text="${first_name}" style="display: inline"></div>&nbsp;&nbsp;
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/profile">Profile</a>
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </li>
          </ul>
      </div>
    </nav>
</header>