<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simple Point of Sale</title>
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/login.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                  <h5 class="card-title text-center mb-5 fw-light fs-5">Registration Form</h5>
                  <form th:action="@{/registration}" method="post" th:object="${user}">
                    <div class="form-floating mb-3">
                        <label for="floatingInput">First Name</label>
                        <input th:field="*{firstName}" type="text" class="form-control" id="floatingInput">
                    </div>
                    <div class="form-floating mb-3">
                        <label for="floatingInput">Last Name</label>
                        <input th:field="*{lastName}" type="text" class="form-control" id="floatingInput">
                    </div>
                    <div class="form-floating mb-3">
                        <label for="floatingInput">Email</label>
                        <input th:field="*{email}" type="email" class="form-control" id="floatingInput">
                    </div>
                    <div class="form-floating mb-3">
                       <label for="floatingPassword">Password</label>
                       <input th:field="*{password}" type="password" class="form-control" id="floatingPassword">
                    </div>
                    <!-- <div class="form-floating mb-3">
                        <label for="floatingPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="floatingPassword">
                     </div> -->
                    <!-- <div class="form-check mb-3">
                      <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                      <label class="form-check-label" for="rememberPasswordCheck">
                        Remember password
                      </label>
                    </div> -->
                    <div th:if="${message}">
                      <div class="alert alert-danger" th:text="${message}"></div>
                    </div>
                    <div class="d-grid">
                      <button class="btn btn-primary form-control btn-login text-uppercase fw-bold" type="submit">Register</button>
                    </div>
                    <hr class="my-3">
                    <div class="d-grid mb-2">
                        <a th:href="@{/login}" class="btn form-control btn-google btn-login text-uppercase fw-bold fab fa-google me-2" type="button"> Back To Login</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>